body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sample-navbar {
  background-color: rgb(41, 49, 69);
  width: 100vw;
}

.sample-navbar-text {
  padding: 20px;
  text-align: center;
  color:white;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}