.sample-navbar {
  background-color: #293462;
  width: 100vw;
  margin-bottom: 1vw;
}

.sample-navbar h2 {
  padding: 20px;
  text-align: center;
}

* {
  color:white;
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter !important;
}

.row {
  margin: 1vw;
  padding: 2vw;
  border-radius: 50px;
  outline: 3px solid black;
}

.row-red {
  background-color: #FF1700;
}

.row-green {
  background-color: #06FF00;
}