:root {
  --navbar: #4D96FF;
}


.navbar {
  background-color: var(--navbar);
  width: 90vw;
  margin-bottom: 1vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-button.active {
  color: var(--navbar);
}



.nav-button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  padding: 20px;
  width: fit-content;
  text-align: center;
}

* {
  color:white;
  font-family:'Times New Roman', Times, serif;
  font-weight:lighter !important;
}

.row {
  margin: 1vw;
  padding: 2vw;
  border-radius: 20px;
  outline: 1px solid black;
}

.other {
  color: red;
  text-align:center;
}

.row-red {
  background-color: #FF6B6B;
}

.row-green {
  background-color: #6BCB77;
}